body {
    background: ghostwhite;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

main {
    height: 90vh;
}

table {
    background-color:rgba(0, 0, 0, 0);
}

.cart-container {
    height: 65vh;
    overflow-y: auto;
    justify-content: center;
    display: flex;
    background-color: #00000050;
    color: black;
}

.cart-container h2 {
    position: relative;
    top: 40%;
}

table>:not(caption)>*>* {
    background-color: unset !important;
}

tbody, td, tfoot, th, thead, tr {
    border-style: unset !important;
    transition: 0.2s;
}

tbody:hover {
    box-shadow: 0px 0px 10px #61d561;
    transition: 0.2s;
}

.footer {
    background-color: #00000075;
}


#notification-container {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    display: table-column;
    top: 5vh;
    z-index: 9999;
}

/* Добавлено */
#notification-container::before {
    content: '';
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.alert {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    top: 0;
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2vh;
}

/* Анимация появления */
.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

/* Анимация исчезновения */
.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

/* Keyframes для появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes для исчезновения */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px); /* Перемещаем вверх за экран */
    }
}
